@use '../utils/variables' as *;
@use '../base/topography' as *;
@use '../components/button' as *;
@use '../utils/mixins' as *;

.top-story {
  &__article {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: $gap-normal;

    &__image-wrapper {
      height: 100%;
    }

    &__image__picture {
      height: 100%;
    }

    &__image {
      height: 100%;
      width: 100%;

      object-fit: cover;
      object-position: center center;

      @include image-zoom;
    }

    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $gap-normal;
    }

    &__heading {
      @include font-heading2-bold;
    }

    &__description {
      display: flex;
      flex-direction: column;
      gap: $gap-normal;
    }

    &__summary {
      @include font-paragraph-regular;
    }

    &__read-more {
      width: 12rem;

      @include button;
    }
  }
}

@media screen and (max-width: 800px) {
  .top-story {
    &__article {
      grid-template-rows: 2fr 1fr;
      &__content {
        grid-template-columns: 1fr;
      }
    }
  }
}
