@use '../utils/variables' as *;

html {
  font-family: $ff-inter;
  font-size: 1rem;
}

body {
  max-width: $max-width-desktop;
  min-width: $min-width-mobile;

  min-height: $min-height-screen;

  margin-inline: auto;
}

#root {
  padding: 2rem;
}

@media screen and (max-width: 800px) {
  #root {
    padding: 1rem;
  }
}
